module.exports = {
    server: {
        isDev: false,
        port: 80,
        baseUrl: 'http://127.0.0.1:80/',
        name: 'Block Reducer2',
        description: 'Block Reducer2',
        author: 'Zhenlong J.',
        secret: 'blockreducer2@@',
        // sslKey: './sslcert/localhost.key',
        // sslCert: './sslcert/localhost.cert',
        // sslCA: './sslcert/alphasslrootcabundle.crt',
        environment: 'development',
    },
    mysql: {
        connectionLimit: 10,
        host: '127.0.0.1',
        user: 'root',
        password: '',
        database: 'blockreducer2',
        port: 3306
    },
    session: {
        name: 'BlockReducer2',
        key: 'blockreducer2',
        secret: 'blockreducer2@@',
    },
    dbTblName: {
        users: 'users',

        tradeBucketed: 'trade_bucketed',
        tradeBucketed1m: 'trade_bucketed_1m',
        tradeBucketed5m: 'trade_bucketed_5m',
        tradeBucketed1h: 'trade_bucketed_1h',

        fft: 'fft',
        fft5m: 'fft_5m',
        fft1h: 'fft_1h',

        tradesBuffer: 'trades_buffer',
        volume: 'volume',
        volume1m: 'volume_1m',
        volume5m: 'volume_5m',
        volume1h: 'volume_1h',

        vwap1m: 'vwap_1m',
        vwap5m: 'vwap_5m',
        vwap1h: 'vwap_1h',

        interestedNValue1m: 'interested_n_value_1m',
        interestedNValue5m: 'interested_n_value_5m',
        interestedNValue1h: 'interested_n_value_1h',

        deribitInstruments: 'deribit_instruments',
        deribitInstruments2: 'deribit_instruments2',
    },

    chart: {
        rowCount1: 750,
        rowCount2: 1500,
    }
};
